.about-container {
  color: white;
}

/* Sección Hero */
.about-hero {
  position: relative;
  height: 600px; /* Altura fija para que sea "parte" de la imagen */
  background: url('../assets/imageAbout/banner.jpg') no-repeat center top;
  background-size: cover;
  box-shadow: 0 3px 9px rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.about-hero h1 {
  position: absolute;
  color: white;
  top: 1%;
  font-size: 4rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Sección body */

.about-body {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Sección valores */
.about-values {
  padding: 3rem 5rem;
  text-align: center;
}

.about-values h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.values-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.value-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  background-color: rgba(75, 75, 75, 0.9);
  min-width: 200px;
  height: 450px;
  border-radius: 10px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.value-item:hover {
  background-color: rgba(45, 45, 45, 1);
  transform: scale(1.09);
}

.item-content {
  padding: 15%;
}

.value-item img {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.value-item h3 {
  font-size: 1.5rem;
  color: #f0a500;
}

.value-item p{
  text-align: center;
  line-height: 1.2;
}

/* diseño responsivo */

@media (max-width: 768px) {
  .about-hero {
    height: 300px;
    background-position: center;
  }

  .about-hero h1 {
    font-size: 2rem;
    top: 10%;
    text-align: center;
  }

  .about-body {
    flex-direction: column;
    padding: 1rem;
  }

  .about-values {
    padding: 2rem 1rem;
  }

  .about-values h2 {
    font-size: 1.3rem;
  }

  .value-item {
    max-width: 90%;
    height: auto;
    padding-bottom: 1rem;
  }

  .value-item img {
    max-width: 80%;
    height: auto;
  }

  .item-content {
    padding: 1rem;
  }

  .value-item h3 {
    font-size: 1.2rem;
  }

  .value-item p {
    font-size: 1rem;
    padding: 0 1rem;
  }
}