/* src/components/Footer.css */
.footer {
  background-color: rgb(34, 34, 34);
  box-shadow: 0 -2px 8px rgba(0,0,0,0.5); /* Sombra arriba */
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-top: 5rem;
}
