/* src/components/Navbar.css */
.navbar {
  background-color: rgb(34, 34, 34);
  box-shadow: 0 2px 8px rgba(0,0,0,0.5); /* Sombra para separarlo del fondo */
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 0 1rem; /* agrega esto */
  width: 100%;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #66bb6a; /* Verde suave */
}
